@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Work+Sans:ital,wght@0,100;0,400;0,700;1,100&display=swap');

@font-face {
    font-family: 'modern';
    src: url('fonts/ModernSans-Light.otf') format('opentype');
}

body{
    background-color: #25c0d4;
    font-family: 'modern', sans-serif;
    font-weight: bold;
    text-align: justify;  
}

p{
    text-indent: 10px;
}

main{
    background-color: white;
    width: 750px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1d94a3;
}

.principal{
    text-align: center;
    font-family: 'allura', sans-serif;
    font-size: 3em;
}

h1{
    text-align: center;
}

h2{
    text-align: justify;
    font-weight: bolder;
}

.lista{
    text-decoration: underline;
}

a:hover{
    color: rgb(151, 1, 151);
}

